.calculator {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid red;
  background-color: purple;
  border-radius: 5px;
  text-align: center;
}

.calculator input[type="text"], .calculator select {
  width: 50%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}

.calculator button {
  width: calc(100% - 12px);
  padding: 10px 0;
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

